/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://c1.wallpaperflare.com/preview/83/742/354/question-mark-why-problem-solution.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: auto;
  color: #cf4812;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #c5c1c1;
}

h5 {
  font-size: 1rem;
  color: azure;
}

h3 {
  font-size: 3rem;
  color: azure;
}

h4 {
  font-size: 1.5rem;
  color: rgb(158, 236, 236);
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #111010;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

button {
  font-size: 1.2rem;
  padding: 12px 24px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f18136;
  color: #fff;
}

button:hover {
  background-color: #0b9629;
}

button.easy {
  background-color: #28a745;
}

button.easy:hover {
  background-color: #218838;
}

button.hard {
  background-color: #dc3545;
}

button.hard:hover {
  background-color: #c82333;
}