body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f1a00a;
  /* Set your desired background color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  background-color: bisque;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
  text-align: center;
}

.difficulty-selector {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.difficulty-selector a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.difficulty-selector a:hover {
  background-color: #007bff;
  color: #fff;
}

.start-quiz-container {
  margin-top: 20px;
  text-align: center;
}

.start-quiz-container ul {
  list-style: none;
}

.start-quiz-container li {
  display: inline-block;
  margin-right: 10px;
}

.start-quiz-container a {
  text-decoration: none;
  color: #fff;
  background-color: #28a745;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.start-quiz-container a:hover {
  background-color: #218838;
}

/* Add more styles as needed for your specific components and pages */